.notFound{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ddd;

	&__back{
		width: 75%;
		height: auto;
		margin-bottom: 2rem;

		& button{
			width: 4rem;
			padding: 1rem;
		}
	}

	&__box{
		width: 75%;
		height: 75%;
		background-color: #fff;
		border: 1px groove #ccc;
		border-radius: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& .subtitle{
			color: red;
			text-decoration: none;
			margin-top: 2rem;

			animation: heart 1s ease infinite alternate;
		}
	}
}

@keyframes heart{
	from{ transform: scale(1);}
	to{ transform: scale(1.5);}
}