* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  width: 100%;
  height: auto; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.872rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.328rem; }

h6 {
  font-size: 1.072rem; }

p {
  font-size: 1.6rem; }

span {
  color: #ccc;
  font-size: 1.2rem; }

body {
  width: 100Vw;
  height: 100Vh;
  background: white; }

#root {
  height: 100%;
  width: 100%; }

.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login__box {
    width: 25%;
    height: 50%;
    padding: 4rem;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }

form {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  form input {
    width: 100%;
    height: 4rem;
    display: block;
    border: none;
    border-bottom: 1px solid #0f9bd4; }
  form Link {
    width: 100%; }

button {
  width: 100%;
  background: white;
  border: 2px solid #072759;
  border-radius: 1rem;
  height: 4rem; }

.version {
  width: 100%;
  text-align: right; }

section {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative; }
  section .aside {
    width: 25%; }
  section main {
    width: 100%;
    height: 100%; }
    section main .page {
      min-height: calc(100% - 6rem);
      height: calc(100% - 6rem);
      max-height: auto; }
  section .user {
    width: auto;
    height: 200px;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px groove #ccc;
    position: absolute;
    right: 5rem;
    top: 5rem; }

header {
  width: 100%;
  height: 6rem;
  background: #007bff;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center; }
  header section {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header section button {
      background-color: transparent;
      width: auto;
      padding: 0 1rem;
      border: 2px solid white; }
    header section h1 {
      color: white; }
  header button {
    background-color: transparent;
    width: auto;
    padding: 0 1rem;
    border: 2px solid white; }

.icon {
  font-size: 2rem;
  color: white; }

.aside__container {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc; }
  .aside__container img {
    margin-bottom: 2rem; }
  .aside__container span {
    color: #ccc;
    font-size: 1.6rem; }
  .aside__container li {
    height: 5rem;
    padding: 1rem 0rem 1rem 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border-top: 1px solid #ccc; }
    .aside__container li .icons-list {
      font-size: 2rem;
      margin-right: 1.6rem; }
    .aside__container li:nth-last-of-type(1) {
      border-bottom: 1px solid #ccc; }
    .aside__container li:nth-last-of-type(9) {
      border-top: none; }
      .aside__container li:nth-last-of-type(9):hover {
        background: #fff; }
    .aside__container li:hover {
      background: #eee; }

.user__container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #fff; }
  .user__container-item {
    width: 100%;
    height: 50px;
    padding: 1rem; }
    .user__container-item .links {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #000; }
      .user__container-item .links .user__icons {
        font-size: 2rem;
        margin-right: 1rem; }
    .user__container-item:nth-last-of-type(4) {
      border-bottom: 1px solid #ccc; }

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd; }
  .menu__box {
    width: 75%;
    height: 75%;
    background-color: #fff;
    border: 1px groove #ccc;
    padding: 0rem 4rem;
    border-radius: 2rem; }
    .menu__box-content {
      height: 80%;
      width: 100%;
      display: grid;
      padding: 2rem;
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
      gap: 3rem; }
    .menu__box-copyright {
      height: 20%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }

.items {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 7px 0px #000;
  overflow: hidden;
  text-decoration: none;
  color: #000;
  transform: scale(1);
  transition: all 1s; }
  .items:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 14px 0px #000; }
  .items__container {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .items__container-icons {
      margin-bottom: 3rem; }

.icons {
  font-size: 5rem; }

.perfil {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddd; }
  .perfil__back {
    width: 75%;
    height: auto;
    margin-bottom: 2rem; }
    .perfil__back button {
      width: 4rem;
      padding: 1rem; }
  .perfil__box {
    width: 75%;
    height: 75%;
    background-color: #fff;
    border: 1px groove #ccc;
    display: flex; }
    .perfil__box-data, .perfil__box-image {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .perfil__box-image {
      padding: 10rem; }

.list {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .list__item {
    height: 15%;
    display: flex;
    margin-bottom: 1rem; }
    .list__item-boxIcon {
      height: 100%;
      width: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem; }
    .list__item-data {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start; }

.user__icons {
  font-size: 2rem; }

.FigurasYModalidades {
  width: 100%;
  min-height: 100%;
  height: auto;
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddd; }
  .FigurasYModalidades__back {
    width: 75%;
    height: auto;
    margin-bottom: 2rem; }
    .FigurasYModalidades__back button {
      width: 4rem;
      padding: 1rem; }
  .FigurasYModalidades__Box {
    width: 75%;
    min-height: 75%;
    height: 75%;
    max-height: auto;
    background-color: #fff;
    border: 1px groove #ccc; }
    .FigurasYModalidades__Box-encabezado {
      height: 6rem;
      width: 100%;
      border-bottom: 1px groove #ccc;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 2rem; }
    .FigurasYModalidades__Box-cuerpo {
      min-height: calc(100% - 6rem);
      height: calc(auto - 6rem);
      width: 100%;
      display: flex;
      flex-direction: column; }

.plus {
  width: 100%;
  padding: 1rem 2rem;
  text-decoration: none; }
  .plus__icon {
    font-size: 4rem;
    border: 1px groove #ccc;
    border-radius: 1rem;
    padding: 1rem;
    color: #000; }

.figuras {
  height: auto;
  padding: 2rem;
  display: grid;
  grid-template: repeat(2, minmax(200px, auto))/repeat(3, minmax(100px, 1fr));
  gap: 2rem;
  grid-auto-rows: minmax(200px, auto);
  grid-auto-columns: minmax(100px, auto); }

.figura {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px groove #000;
  border-radius: 1rem;
  display: flex;
  flex-direction: column; }
  .figura__header {
    height: 50px;
    max-height: auto;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .figura__header button {
      width: auto;
      padding: 1rem;
      background-color: transparent;
      border: none; }
  .figura__body {
    height: calc(100% - 50px);
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template: repeat(5, 1fr)/repeat(5, 1fr);
    gap: 1rem; }
    .figura__body-celda {
      background-color: gray;
      border-radius: 0.5rem; }
    .figura__body .active {
      background-color: #00d9ff;
      border-radius: 0.5rem;
      border: 1px solid green; }

.notFound {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddd; }
  .notFound__back {
    width: 75%;
    height: auto;
    margin-bottom: 2rem; }
    .notFound__back button {
      width: 4rem;
      padding: 1rem; }
  .notFound__box {
    width: 75%;
    height: 75%;
    background-color: #fff;
    border: 1px groove #ccc;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }

